<div class="user-component">
  <div *ngIf="userService.userShow != undefined" style="margin-bottom: 0px;">
    <p>
      <span class="tag">Username: </span>
      <a class="elem">
        {{userService.userShow?.name }}
      </a>
    </p>
    <p>
      <span class="tag">Email: </span>
      <a class="elem">
        {{userService.userShow?.email}}
      </a>
    </p>
    <p>
      <span class="tag">About: </span>
      <a class="elem">
        {{userService.userShow?.about}}
      </a>
    </p>
    <p>
      <span class="tag">Created: </span>
      <a class="elem">
        {{userService.userShow?.created_at}}
      </a>
    </p>
    <p>
      <span class="tag">Api-Key: </span>
      <a class="elem">
        {{userService.userShow?.api_key}}
      </a>
    </p>
  </div>
  <button *ngIf="userService.userShow?.id == authService.currentUserID" style="background-color: #ff4e4e; margin-left: 30px;"
    class="btn btn-primary" (click)="editUser()">edit</button>
</div>