
<div class="user-component" >
  <div *ngIf="userRender != undefined" style="margin-bottom: 0px;">
    <p>
      <span class="tag">Username: </span>
      <a class="elem">
        {{userRender.name}}
      </a>
    </p>
    <p>
      <span class="tag">Email: </span>
      <a class="elem">
        {{userRender.email}}
      </a>
    </p>
    <p>
      <span class="tag">About: </span>
      <a class="elem">
        {{userRender.about}}
      </a>
    </p>
    <p>
      <span class="tag">Created: </span>
      <a class="elem">
        {{userRender.created_at}}
      </a>
    </p>
    <p>
      <span class="tag">Api-Key: </span>
      <a class="elem">
        {{userRender.api_key}}
      </a>
    </p>
  </div>
</div>

