<div class="container mainComponent">
  <nav class="navbar navbar-expand-lg navbar-light bg-faded" style="background-color: #ff4e4e;">
    <a class="navbar-brand" routerLink="/main">
      <img src="/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt=""> HN Angular
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/new" class="nav-link" routerLinkActive="active">New</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a routerLink="/threads" class="nav-link" routerLinkActive="active">Threads</a>
        </li>
        <li class="nav-item">
          <a routerLink="/ask" class="nav-link" routerLinkActive="active">Ask</a>
        </li>
        <li class="nav-item">
          <a (click)="submit()" class="nav-link pointer" routerLinkActive="active">Submit</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li *ngIf="isLoggedIn()">
          <a routerLink="/user/1" class="nav-link" routerLinkActive="active">User</a>
        </li>
        <li *ngIf="isLoggedIn()">
          <a class="nav-link pointer" (click)="logout()">Logout</a>
        </li>
        <li *ngIf="!isLoggedIn()">
          <a class="nav-link pointer" (click)="login()">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>