.distance{
  margin-top: 1%;
}

.post{
  padding: 10px 0 10px 5px;
}

.warning {
  /* visibility: hidden; */
  color: #ff4e4e;
}
.link{
  color: #b92b27 !important;
  cursor: pointer;
  text-decoration: none !important;
}


