<div>
  <p id="p" class="warning">
    {{errorMessage}}
  </p>
  <label for="title">Title: </label>
  <strong id="title"> {{contribution?.title}}</strong>
  <br>
  <div *ngIf="contribution?.hasUrl()">
    <label for="url">Url: </label>
    <a href="{{contribution?.url}}"> {{contribution?.url}}</a>
    <br>
  </div>
  <div *ngIf="!contribution?.hasUrl()">
    <label for="ask">Text: </label>
    <strong id="ask"> {{contribution?.text}}</strong>
    <br>
  </div>
  <div *ngIf="contribution?.user_id == authService.currentUserID">
    <!-- <button style="background-color: #ff4e4e" class="btn btn-primary" (click)="edit()">edit</button>
      <button style="background-color: #ff4e4e" class="btn btn-primary" (click)="delete()">delete</button> -->
    <a class="link" [routerLink]="['/contribution/'+contribution.id+'/edit']" routerLinkActive="active">
      edit
    </a> |
    <a class="link" (click)="delete()">
      delete
    </a>
  </div>
  <form [formGroup]="commentForm">
    <div class="form-group">
      <label for="comment" class="center-block">Comment:
        <textarea class="form-control" formControlName="body"></textarea>
      </label>
    </div>
    <button style="background-color: #ff4e4e" class="btn btn-primary" (click)="createComment()">submit</button>
  </form>

  <div style="margin-top: 30px;" *ngIf="comments.length == 0">
    <p>There are not comments. Comment first!</p>
  </div>
  <div *ngIf="comments.length > 0">
    <h4 class="distance">Comments</h4>
    <div class="post" *ngFor="let comment of comments">
      <app-single-comment [comment]="comment"></app-single-comment>
    </div>
  </div>
</div>