<div *ngIf="!deleted" style="padding-left: 10px;">
  <div *ngIf="!commentShow.hasVoted" style="float: left; padding-right: 14px;">
    <button (click)="vote()" type="button" class="btn btn-default btn-sm">
      <i class="fas fa-angle-up"></i>
    </button>
  </div>
  <div *ngIf="commentShow.hasVoted" style="float: left; padding-right: 14px;">
    <button (click)="unvote()" type="button" class="btn btn-default btn-sm">
      <i class="fas fa-angle-down"></i>
    </button>
  </div>
  <div class="item-block">
    <div class="subtext-laptop">
      <span class="color">
        {{commentShow.points}} points by
        <a (click)="me()" routerLinkActive="active">@{{commentShow.username}}</a>
      </span> |
      <span class="color">
        {{commentShow.created_at}}
      </span> | 
      <span>
        <a (click)="reply()" routerLinkActive="active">reply</a>
      </span>
      <span *ngIf="ownComment()" class="color">
        |
        <a [routerLink]="['/contribution/'+commentShow.contribution_id+'/edit/'+commentShow.id]" routerLinkActive="active">
          edit
        </a> |
        <a (click)="delete()" routerLinkActive="active">delete</a>
        
      </span>
      <p class="commentBody">
        {{commentShow.body}}
      </p>
    </div>
  </div>
  <div *ngIf="commentShow.replies">
    <div *ngIf="commentShow.replies.length > 0">
      <div class="reply" *ngFor="let comment of commentShow.replies">
        <app-single-comment [comment]="comment"></app-single-comment>
      </div>
    </div>
  </div>
</div>
