<div style="padding-left: 10px;">
  <div *ngIf="!commentShow.hasVoted" style="float: left; padding-right: 14px;">
    <button (click)="vote()" type="button" class="btn btn-default btn-sm">
      <i class="fas fa-angle-up"></i>
    </button>
  </div>
  <div *ngIf="commentShow.hasVoted" style="float: left; padding-right: 14px;">
    <button (click)="unvote()" type="button" class="btn btn-default btn-sm">
      <i class="fas fa-angle-down"></i>
    </button>
  </div>
  <div class="item-block">
    <div class="subtext-laptop">
      <span class="color">
        {{commentShow.points}} points by
        <a (click)="me()" routerLinkActive="active">@{{commentShow.username}}</a>
      </span> |
      <span class="color">
        {{commentShow.created_at}}
      </span>
      <span *ngIf="ownComment()" class="color">
        |
        <a (click)="edit()" routerLinkActive="active">edit</a> |
        <a (click)="delete()" routerLinkActive="active">delete</a>
      </span>
      <p class="commentBody">
        {{commentShow.body}}
      </p>
    </div>
  </div>
</div>